<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/data" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Data</a>
      <a class="nav-item nav-link" routerLink="/chart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Chart</a>
  </div>
</nav>
<router-outlet></router-outlet>
