<div>
    <div id="Select-table-id">
        <mat-form-field appearance="fill">
            <mat-label>Vælg rum</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div> <!--Data table HTML-->
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
        
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                <ng-container matColumnDef="RoomNumber">
                    <th mat-header-cell *matHeaderCellDef> Værelse Nummer </th>
                    <td mat-cell *matCellDef="let reader"> {{reader.roomNumber}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Humidity">
                    <th mat-header-cell *matHeaderCellDef> Fugtighed </th>
                    <td mat-cell *matCellDef="let reader"> {{reader.humidity.value}} </td>
                </ng-container>
            
                <ng-container matColumnDef="Temperature">
                    <th mat-header-cell *matHeaderCellDef> Temperature </th>
                <td mat-cell *matCellDef="let reader"> {{reader.temperature.value}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Light">
                <th mat-header-cell *matHeaderCellDef> Lys Styrke </th>
                <td mat-cell *matCellDef="let reader"> {{reader.light.value}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef> Dato </th>
                <td mat-cell *matCellDef="let reader"> {{reader.time | date:'yyyy-MM-dd H:mm:ss'}} </td>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Ingen match på søgningen "{{input.value}}"</td>
                </tr>
            </ng-container>
        </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>